<div class="ecommerce-container">
  <header>
    <h1>E-COMMERCE BRABO</h1>
  </header>

  <div class="tabs">
    <button
      [class.active]="activeTab === 'products'"
      (click)="setActiveTab('products')"
    >
      <i class="fas fa-box"></i> Produtos
    </button>
    <button
      [class.active]="activeTab === 'cart'"
      (click)="setActiveTab('cart')"
    >
      <i class="fas fa-shopping-cart"></i> Carrinho
    </button>
    <button
      [class.active]="activeTab === 'orders'"
      (click)="setActiveTab('orders')"
    >
      <i class="fas fa-receipt"></i> Pedidos
    </button>
  </div>

  <div class="tab-content">
    <!-- Produtos Disponíveis -->
    <div *ngIf="activeTab === 'products'">
      <h2>Produtos Disponíveis</h2>
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Estoque</th>
            <th>Quantidade</th>
            <th>Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let prod of products">
            <td>{{ prod.name }}</td>
            <td>{{ prod.inStock }}</td>
            <td>
              <input
                type="number"
                [(ngModel)]="prod.quantity"
                (input)="prod.inStock = prod.originalStock - prod.quantity"
                [max]="prod.originalStock"
                min="0"
              />
            </td>
            <td>
              <button (click)="addToCart(prod)">Adicionar ao Carrinho</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Carrinho -->
    <div *ngIf="activeTab === 'cart'">
      <h2>Seu Carrinho</h2>
      <table *ngIf="cart.length > 0; else emptyCart">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Quantidade</th>
            <th>Atualizar</th>
            <th>Ação</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cart">
            <td>{{ item.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>
              <input type="number" [(ngModel)]="item.updatedQuantity" />
            </td>
            <td>
              <button
                style="margin-right: 20px"
                (click)="cartActionButton(item)"
              >
                Atualizar
              </button>
              <button
                (click)="payItem(item)"
                [disabled]="item.originalStock < item.quantity"
              >
                Pagar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-template #emptyCart>
        <p>O carrinho está vazio.</p>
      </ng-template>
    </div>

    <!-- Pedidos -->
    <div *ngIf="activeTab === 'orders'">
      <h2>Seus Pedidos</h2>
      <table *ngIf="orders.length > 0; else noOrders">
        <thead>
          <tr>
            <th>Identificador</th>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of orders">
            <td>{{ item.id }}</td>
            <td>{{ item.produto }}</td>
            <td>{{ item.quantidade }}</td>
            <td>{{ item.status }}</td>
          </tr>
        </tbody>
      </table>
      <ng-template #noOrders>
        <p>Você ainda não tem pedidos realizados. {{ ":(" }}</p>
      </ng-template>
    </div>
  </div>
</div>
